<div class="container p-5">
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <!-- add class disabled if currentPage === 0 -->
      <!-- custom directive appClass -->
      <li class="page-item"   [appClass]="{ disabled: currentPage === 0 }">
        <a class="page-link" href="#" (click)="currentPage = currentPage - 1"
          >Previous</a
        >
      </li>
      <ng-container *appTimes="images.length; let i = index">
        <!-- We can only apply 1 structure directive -> *ng -->
        <!-- to fix it, we can add ng-container -->
        <li class="page-item" [appClass]="{ active: i === currentPage }" 
          *ngIf="checkWindowIndex(i)">
          <a class="page-link" href="#" (click)="currentPage = i">{{
            i + 1
          }}</a>
        </li>
      </ng-container>

      <li
        class="page-item"
        [appClass]="{ disabled: currentPage === images.length - 1 }"
      >
        <a class="page-link" href="#" (click)="currentPage = currentPage + 1"
          >Next</a
        >
      </li>
    </ul>
  </nav>
  <div class="my-5">
    <!-- method in class directive call appClass -->
    <!-- appClass has the sameName as the selector -->
    <!-- then Angular create the instance of class Directive -->
    <!-- and apply the property -->
    <h4>{{ images[currentPage].title }}</h4>
    <img
      [src]="images[currentPage].url"
      alt="Image of {{ images[currentPage].title }}"
      class="h-5"
    />
  </div>
  <!-- switch  case -->
  <!-- <div [ngSwitch]="currentPage"> -->
    <!-- case 0 display something-->
    <!-- <div *ngSwitchCase="0">
      currentPage is 0
    </div>
    <div *ngSwitchCase="1">
      currentPage is 1
    </div>
    <div *ngSwitchCase="2">
      currentPage is 2
    </div>
    <div *ngSwitchDefault="">Default page</div> -->
  <!-- </div> -->
</div>

<!-- Custom structural directive -->
<!-- <ul *appTimes="5">
  <li>Hi there</li>
</ul> -->